.page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 25px 50px;
}

.success {
    border-color: var(--green);
}

.error {
    border-color: var(--text-danger);
}

.message {
    margin: 20px 0;
}

.message>p+p {
    margin-top: 10px;
}