.card {
	padding: 0px !important;
}

.date{
	font-size: 12px;
	font-weight: 400;
	margin-left: 10px;
}
.containerChat{
width: calc(100vw - 470px);
/* min-height: calc(100vh - 199px); */
/* min-height: 199px; */
}
