.container {
    display: flex;
}

.rightPanel {
    padding: 15px;
    width: calc(100vw - 400px);
    margin-left: 420px;
    margin-top: 49px;
    height: calc(100vh - 49px);
}

.leftPanel {
    width: 400px;
    height: calc(100vh - 49px);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 10px;
    top: 49px;
    position: fixed;

}